---
permalink: /story/
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The DingDong Foundation</title>
  <meta name="robots" content="noindex">
  <meta http-equiv="refresh" content="0; url={{ '/inspirations/' | url }}">
  <link rel="canonical" href="{{ '/inspirations/' | url }}">
</head>
<body>
  <p>This page has moved to <a href="{{ '/inspirations/' | url }}">Inspirations</a>.</p>
</body>
</html>
